<div class ="header">
    <div class ="top"> Top bar</div>
    <div class ="top-left"> logo</div>
    
   
    </div>
    <ul>
        <li><a href =""> Help Center</a></li>
        <li><a class="slash">Sell on Takealot </a></li>
    </ul>
    <div class ="bottom"> Bottom bar </div>  

    <div class ="top-right">
        <ul>
            <li><a href ="">Login</a></li>
            <li><a href ="">Register</a></li>
            <li><a href ="">Orders</a></li>
            <li><a href ="">My account</a></li>
            <li></li>

        </ul>
        
    </div>
    



